<!-- <mat-card>
    <mat-card-content>
        <a mat-button mat-raised-button color="primary" routerLink="signin" routerLinkActive="active">
            <mat-icon>login</mat-icon>
            Sign In
        </a>

        <a mat-button mat-raised-button color="accent" routerLink="register" routerLinkActive="active">
            <mat-icon>app_registration</mat-icon>
            Register
        </a>
    </mat-card-content>
</mat-card> -->

<body>
    <img class="backgroundimage" fullpage src="assets/Tampines St 45-scaled.jpg">
</body>
