.fullBg {
    position: relative;
    width: 100%;
    height: 30vh;
    z-index: -1;
    opacity: 0.5;
}

button.back {
    cursor: pointer;
    width: 15%;
    height: 40px;
    margin: 8px;
    padding: 0 8px;
    border-radius: 8px;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1em;
    font-weight: 600px;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.container {
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

.main-body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 1s infinite alternate linear;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.profile-card {
    width: 400px;
    padding: 60px 30px 60px;
    border-radius: 1.25rem;
    background: #ffffff;
    text-align: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); */
}

.profile-title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 6px;
}

.profile-form {
    width: 100%;
    margin: 0;
    display: grid;
    /* gap: 16px; */
}

.material-icons.md-visibility {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 0.26);
    font-size: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.control {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #edeaf7;
    color: #5a4f79;
    font-family: inherit;
    font-size: 16px;
    transition: 0.4s;
}

.button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.profile-form > button.control {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #FFD740;
    /* color: #f9f9f9; */
    border: 0;
    font-family: inherit;
    font-size: 1em;
    font-weight: 600px;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
